{% extends "core/base.html" %}

{% block content %}
<div class="container">
    <div class="col-side" id="left" style="background-color: beige; height: 80%;">
        <div class="filter">
            <h2>FILTER OP:</h2>
            <form method="get">
                {% if logged_in %}
                    <label for="favorite">Favorieten:</label>
                    <input
                        {% if favorite_selected %}
                            checked
                        {% endif %}
                        type="checkbox" id="favorite" name="favorite"
                        >
                        <option value="True"></option>
                    </input>
                {% endif %}
                {{ article_list.form.as_p }}
                <button type="submit">Search</button>
            </form>
        </div>
    </div>
    <div class="col-main" id="right">
        <div class="kennisbank-top">
            <h1>Kennisbank</h1>
            {{ article_list.qs.count }} gevonden van {{ article_count }} totaal
            
        </div>

            <div class="sort">
                    <div class="orderby"> <a href="{% url 'articles:article-list' order_by='nieuw' %}"> nieuw</a> </div>
                    <div class="orderby"> <a href="{% url 'articles:article-list' order_by='populair' %}"> populair</a> </div>
                    <div class="orderby"> <a href="{% url 'articles:article-list' order_by='hot' %}"> hot </a> </div>
            </div>
        
        <div class="kennisbank-qs" style="background-color: beige;">
            {% for article in article_list.qs %}
                <div class="kennisbank-qs-item">
                    <!-- <img src="{{ article.image.url }}"> -->
                    <h2><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h2> 
                    {{ article.created|date}} {{ article.user_likes.count }} likes <br>
                    {{ article.short_desc }}<br>
                    tags: {{ article.subject }} {{ article.level }} {{ arirticle.tags }} <br>
                    by: {{ article.author }}
                </div>
            {% empty %}
                Geen kennis gevonden.
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}