
{% block content %}
<h1>Kennisbank</h1>
sorteren op:<br>
<a href="{% url 'articles:article-list' order_by='nieuw' %}"> nieuw / </a>
<a href="{% url 'articles:article-list' order_by='populair' %}"> populair / </a>
<a href="{% url 'articles:article-list' order_by='hot' %}"> hot </a> <br> 
{{ article_list.qs.count }} gevonden van {{ article_count }} totaal <br>

<form method="get">
    {{ article_list.form.as_p }}
    <button type="submit">Search</button>
</form>
<br>
{% for article in article_list.qs %}
    <h2><a href="{{ article.get_absolute_url }}">{{ article.title }}</a></h2> <br>
    {{ article.created|date}} {{ article.user_likes.count }} likes <br>
    {{ article.short_desc }} <br>
    tags: {{ article.subject }} {{ article.level }} {{ arirticle.tags }} <br>
    by: {{ article.author }}<br> <br><br> <br>
{% empty %}
    Geen kennis gevonden.
{% endfor %}
{% endblock %}