{% block content %}
    <h1>{{ article.title }}</h1>
    <div>
        {{ article.short_desc }}
        {{ article.CreationDateTimeField|date }}
    </div>
    File here
    <div>
        
            {{ article.subject }}
        
    </div>
    <div>
        {{ article.author }}
        {{ article.views}}X bekeken / {{ article.downloads }}X gedownload
    </div>
    <div>
        DOWNLOADEN     DELEN
        Opslaan als favoriet
        Like
    </div>
    <div>
        STUUR EEN PERSOONLIJK BEDANKJE
        MESSAGE FIELD
        VERSTUUR
    </div>
    <div>
        Hier is iets niet in orde
    </div>
    VERGELIJKBAAR

{% endblock %}