{% extends "core/base.html" %}
{% load i18n %}

{% block head %}
    {{ wizard.form.media }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="col-top">
        <p>Stap {{ wizard.steps.step1 }} van {{ wizard.steps.count }}</p>
        <h1 style="font-size: 3em;">KENNIS TOEVOEGEN</h1>
        
    </div>
    <div class="container" style="background-color:beige;">
        <div>
            <form enctype="multipart/form-data" action="" method="post">{% csrf_token %}
                <div>
                    <table>
                        {{ wizard.management_form }}
                        {% if wizard.form.forms %}
                            {{ wizard.form.management_form }}
                            {% for form in wizard.form.forms %}
                                {{ form }}
                            {% endfor %}
                        {% else %}
                            {% for field in wizard.form %}
                            <div style="min-width:90%; min-height:50px; padding:10px;">
                                <div>{{ field.errors}}</div>
                                <div style="padding:5px">{{ field.label }}</div>
                                <div>{{ field }}</div>
                            </div>
                            {% endfor %}
                        {% endif %}
                    </table>
                </div>

                <div style="padding:20px; margin:10px;">
                    {% if wizard.steps.prev %}
                        <div style="float:left;">
                            <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "Terug" %}</button>
                        </div>
                        <div style="float:right;">
                            <input type="submit" value="{% trans "Opslaan" %}"/>
                        </div>
                    {% else %}
                        <div style="float:right;">
                            <input type="submit" value="{% trans "Volgende" %}"/>
                        </div>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}