{% load static %}

<head>
  <link rel="stylesheet" type="text/css" href="{% static 'core/css/styles.css'%}">
</head>
<body>
{% block navbar %}
    <div class="navbar">
        <div class="navbaritems">
            <a href="{% url 'core:homepage' %}">Home</a>
            <a href="{% url 'articles:article-list' 'nieuw' %}">KennisBank</a>
            {% if user.is_authenticated %}
                <a href="{% url 'articles:article-create' %}"><b>+</b>TOEVOEGEN</a>
            {% endif %}
            <form method="get" action="{% url 'articles:article-list' order_by='nieuw'%}">
                <input type="text" id="search" name="search"></input>
                <button type="submit">Zoeken</button>
            </form>
        </div>
        <div class="navbaritems">
            {% if user.is_authenticated %}
                Ingelogd als: <b>{{ user.get_username }}
                <a href="{% url 'logout' %}">Uitloggen </a>
                <a href="{% url 'comments:comment-list' %}">Bedankjes</a>
            {% else %}
                <li><a href="{% url 'login' %}">Inloggen</a></li>
            {% endif %}
        </div>
    </div>
<br>
{% endblock %}


{% block content %} {% endblock %}
</body>