{% extends "core/base.html" %}

{% block content %}
    <div class="container" style="background-color:beige; margin-left:50px;">
        <div style="columns:4; padding:10px;">
            <div class="homepage-block">
                <h1> OPLEIDINGEN </h1>
            </div>
            {% for subject in subject_list %}
                <div class="homepage-block">
                    <a href="{% include 'core/article_listview_href.html' %}?subject={{subject.id}}"><img src="{{ subject.image.url }}"></a>
                    
                </div>
            {% endfor %}
            <div class="homepage-block">
                <h1> <a href="{% include 'core/article_listview_href.html' %}">Kennisbank</h1></a>
            </div>
        </div>
    </div>
    <div style="height:50px;">
    </div>
    <div class="container" style="background-color:beige; margin-left:50px; height:300px;">
        <div style="padding:30px;">
            <h1>MEEST POPULAIRE ITEMS</h1>
        </div>
        {% for article in article_list %}
           {% include "core/article_item.html" %}    
        {% endfor %}
    </div>
{% endblock %}